<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rose.mapper.UserMapper">

    <resultMap id="resultSet" type="user">
        <result column="username" property="userName"></result>
        <result column="password" property="passWord"></result>
    </resultMap>


</mapper>